<p>
    Search for a Pokémon by name or using their National Pokédex number.
</p>

<input [(ngModel)]="$id">
<button (click)="go()">GO!</button>
<button (click)="clear()">Clear</button>

<select name="Pokemon List" [(ngModel)]="$id">
    <option *ngFor="let item of pokemonMap|keyvalue|filterPokemonPipe:$id|sortPokemonByName">{{ item.value.name }}
    </option>
</select>

<!--
<p>
    your input: {{$id}}
</p>

<p>
    The input below is supposed to be readonly.
    But you can modify it with the first input bar.
</p>
<input [(ngModel)]="$id" readonly>
-->

<p>
    -- Result --
</p>

<p>Sort options:</p>
<select name="Sort Option">
    <option (click)="switchSorting('NumericalAscending')">Numeral Ascending</option>
    <option (click)="switchSorting('NumericalDescending')">Numeral Descending</option>
    <option (click)="switchSorting('AlphabeticAscending')">Alphabetic Ascending</option>
    <option (click)="switchSorting('AlphabeticDescending')">Alphabetic Descending</option>
</select>

<!-- <div class="fancy">Hi! I want to be fancy.</div> -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<li *ngFor="let item of pokemonMap|keyvalue|filterPokemonPipe:selectedPokeId|sortOption:sort_option">
    <button class="w3-btn" onclick="clear()">
        {{ item.key }} : {{ item.value.name }}, [{{ item.value.types }}], [{{ item.value.weaknessese }}],
    </button>
</li>