<p>
    Search for a Pokémon by name or using their National Pokédex number. 
</p>

<input [(ngModel)]="id">
<button (click)="go()">GO!</button>
<button (click)="clear()">Clear</button>

<select name="Pokemon List" [(ngModel)]="id">
    <option *ngFor="let item of pokemonMap|keyvalue|filterPokemonPipe:id|sortPokemonByName">{{ item.value.name }}</option>
</select>

<!--
<p>
    your input: {{id}}
</p>

<p>
    The input below is supposed to be readonly.
    But you can modify it with the first input bar.
</p>
<input [(ngModel)]="id" readonly>
-->

<p>
    -- Result --
</p>

<!-- TODO: Sort Result by id .sort((a, b) => a.key - b.key) -->
<!-- TODO: feature - display sort option -->

<li *ngFor="let item of pokemonMap|keyvalue|filterPokemonPipe:selectedPokeId|sortPokemonById">
    <!-- TODO: for each `item.value.types` -->
    {{ item.key }} : {{ item.value.name }}, [{{ item.value.types }}], [{{ item.value.weaknessese }}], 
</li>

<!--
<p>--- The whole list ---</p>

<li *ngFor="let item of pokemonMap|keyvalue">
    {{ item.key }} : {{ item.value.name }}
</li>
-->

